@font-face {
    font-family: 'Montserrat';
    src: url('font/Montserrat-Regular.eot');
    src: url('font/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('font/Montserrat-Regular.woff2') format('woff2'),
        url('font/Montserrat-Regular.woff') format('woff'),
        url('font/Montserrat-Regular.ttf') format('truetype'),
        url('font/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url(pics/white-background.jpg);
    background: cover;
    font-family: 'Montserrat';
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#page-container {
    width:550px;
    height:420px;
    position: relative;
    margin-top: 70px;
    margin-left: 40px;
    display: flex;
    flex-wrap: wrap;
}

#image-container {
    width:500px;
    height: 30px;
    margin-left:820px;
    margin-top: -75px;
    position: relative;
}

#logo-container {
    margin-left:860px;
    margin-top: -495px;
    height:50px;
}
#logo {
    width:300px;
    height:60px;
}

#my-image {
    width:350px;
    height:250px;
    position:relative;
    margin-left:550px;
    margin-top:-150px;
}

nav{
    margin-left:230px;
    margin-top:-65px;
    position:relative;
    width:500px;
    height:50px;

}
.btn:hover {
    padding: 2px;    
    border:2px solid black;
    transition: 0.2s;
    
}
#contact {
    border-bottom: 2px solid black;
}
a {
    text-decoration: none;
    
}

li {
    display: inline;
    font-family: "Montserrat";
    font-size:17px;
    list-style-type: none;
    margin-top: 20px;
    margin-right: 80px;
}

#intro {
    position: relative;
    margin-top: 130px;
    text-align: center;
}

#linkedin-link {
        position: relative;
    margin-top: 20px;
    text-align: center;
}

h3 {
    position: relative;
    margin-left: 300px;
    margin-top: 150px;
}

#linkedin-icon{
    position: relative;
    margin-left: 300px;
    margin-top: 50px;
    width:70px;
    height:70px;
}

#xing-icon {
    position: relative;
    margin-left: 150px;
    margin-top: 50px;
    width:70px;
    height:70px;

}

#gmail-icon {
    position: relative;
    margin-left: 150px;
    margin-top: 50px;
    width:70px;
    height:70px;

}

#insta-icon {
    position: absolute;
    margin-left: -300px;
    margin-top: 140px;
    width:70px;
    height:70px;

}
#copyright {
    margin-top: 210px;
    text-align: center;
    font-family: "Montserrat";
}