@font-face {
    font-family: 'Montserrat';
    src: url('font/Montserrat-Regular.eot');
    src: url('font/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('font/Montserrat-Regular.woff2') format('woff2'),
        url('font/Montserrat-Regular.woff') format('woff'),
        url('font/Montserrat-Regular.ttf') format('truetype'),
        url('font/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
    margin:0;
    padding:0;
    background-image: url(white-background.jpg);
    background-repeat: no-repeat;
    background:cover;
    font-family: "Montserrat";
    }

/* CONTAINER */
.container {
    display: grid;
    height:100vh;
    grid-template-columns: 3fr 1fr 1fr 1.3fr;
    grid-template-rows: 0.5fr 2.8fr 2.8fr 0.6fr;
    grid-template-areas: 
    "nav nav nav logo"
    "sidebar main main main"
    "sidebar main main main"
    "sidebar main main main";
    grid-gap: 0.2rem;
}

/* NAVIGATION MENU */
nav {
    grid-area: nav;    
    text-align:center;
    

}

li {
    display: inline-grid;
    margin-right: 30px;
    }
a {
    list-style-type: none;
    text-decoration: none;
    color: black;
    
}
.btn:hover {
    padding:2px;
    border-bottom:2px solid black;
    transition: 0.2s;
}

#my-life {
    border-bottom: 1px solid black; 
}
/*LOGO */

#logo {
    grid-area: logo;
    text-align: center;
}


/* SIDEBAR */

#sidebar {
    grid-area: sidebar;
    text-align: center;
}

.time {
    box-shadow: 0 0 0 3px rgba(233,33,99,0.2);
    background: rgba(233,33,99,1);
    border-radius: 50px;
    color:white;
    width:220px;
    text-align:center;
    display: inline-grid;
}

#time5 {
    margin-bottom: 15px;
}


#link-container {
    border: rgba(233,33,99,1) 2px solid;
    border-radius: 50px;
    padding:10px;
    margin-top: 40px;
    margin-bottom: 10px;
}

#linkedin-icon:hover{
    border-bottom:1px solid black;
}


/* MAIN */
main {
    grid-area: main;
    text-align: center;
}

#skills {
    text-align: center;
}
.skills {
    font-size: 13px;
    padding:1px;
    text-align: center;
    display: inline-grid;
    color:black;
    border-radius: 50px;
    width:300px;
}
#italian-skill {
    background: linear-gradient(to right, #E92163 0%, #E92163 100%);
    
   
}

#english-skill {
    background: linear-gradient(to right, #E92163 0%, #E92163 83%, #D3D3D3 83%, #D3D3D3 100%);
    
}

#german-skill {
    background: linear-gradient(to right, #E92163 0%, #E92163 78%, #D3D3D3 73%, #D3D3D3 100%);
    }
#spanish-skill {
    background: linear-gradient(to right, #E92163 0%, #E92163 24%, #D3D3D3 24%, #D3D3D3 100%);
    
}

#html-skill {
    background: linear-gradient(to right, #E92163 0%, #E92163 78%, #D3D3D3 78%, #D3D3D3 100%);
    }

#css-skill {
    background: linear-gradient(to right, #E92163 0%, #E92163 70%, #D3D3D3 70%, #d3d3d3 100%);
    }
#javascript-skill {
    background: linear-gradient(to right, #E92163 0%, #E92163 24%, #D3D3D3 24%, #D3D3D3 100%);
    
}
#jquery-skill {
    background: linear-gradient(to right, #E92163 0%, #E92163 24%, #D3D3D3 24%, #D3D3D3 100%);
    
}

#php-skill {
    background: linear-gradient(to right, #E92163 0%, #E92163 10%, #D3D3D3 10%, #D3D3D3 100%);
}

#mysql-skill {
    background: linear-gradient(to right, #E92163 0%, #E92163 10%, #D3D3D3 10%, #D3D3D3 100%);
}

/* MEDIA QUERIES */
@media only screen and (max-width:550px) {
    .container {
        grid-template-columns:1fr;
        grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr;
        grid-template-areas: 
        "logo"
        "nav"
        "sidebar"
        "main"
    }
    nav {
        margin:10px 0px 10px 0px;
        border:1px solid black;
    }
}
